body {
  font-family: Arial, sans-serif;
}

#view-highscores {
  margin: 0;
  font-size: 10px;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

#container {
  margin-top: 50px;
  text-align: center;
}

#quiz {
  margin-top: 20px;
}

h1 {
  font-size: 28px;
}

#startBtn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 10px 0;
  cursor: pointer;
}

#result {
  font-weight: bold;
  margin-top: 20px;
}

#score {
  font-weight: bold;
  margin-top: 10px;
}

#timer {
  float: right;
  margin-top: 10px;
}

#score-board {
  text-align: center;
}

ol {
  display: inline-block;
  padding-left: 0;
  width: 45%;
}

ol li {
  display: flex;
  justify-content: space-between;
  counter-increment: section;
}

ol li::before {
  content: counter(section) ".";
  text-align: right;
  margin-right: 0.5em;
}
