@font-face {
  font-family: "myFont";
  src: url("assets/fonts/broken/broken-console-broken-console-regular-400.woff")
      format("woff"),
    url("assets/fonts/broken/broken-console-broken-console-bold-700.woff")
      format("woff"),
    url("assets/fonts/broken/broken-console-broken-console-shadow-700.woff")
      format("woff");
}

@font-face {
  font-family: "pixel";
  src: url(assets/fonts/pixel/PublicPixel-z84yD.ttf);
}

body {
  font-family: "pixel", Arial, sans-serif;
  background-color: black;
  color: white;
}

#view-highscores {
  margin: 0;
  font-size: 36px;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  font-family: "myFont", sans-serif;
  color: purple;
  background: linear-gradient(to bottom, rgb(52, 0, 57), rgb(220, 2, 187));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container {
  margin-top: 50px;
  text-align: center;
}

h1 {
  margin-top: 20vh;
  font-size: 96px;
  font-family: "myFont";
  color: rebeccapurple;
  background: linear-gradient(to top, rgb(255, 39, 39), purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#startBtn {
  border: none;
  cursor: pointer;
  height: 20vh;
}

#quiz {
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

#timer {
  position: fixed;
  top: 2px;
  right: 15px;
}

#question {
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid rgb(172, 0, 86);
  margin: 0px 20px 0px 20px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul li {
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
}

#result {
  font-weight: bold;
  padding-top: 20px;
  border-top: 1px solid purple;
  width: 60%;
  margin: auto;
}

#message {
  padding-bottom: 10px;
}

#score {
  font-weight: bold;
  margin-top: 10px;
}

#saveBtn {
  border: 1px dashed rgb(202, 26, 64);
  font-family: "myFont";
  color: purple;
  background-color: black;
  margin-top: 15px;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 2px;
}

#backBtn {
  border: 1px dashed rgb(202, 26, 64);
  font-family: "myFont";
  color: purple;
  background-color: black;
  margin-top: 15px;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 2px;
}

#score-input {
  background-color: black;
  border: 1px dashed rgb(202, 26, 64);
  font-family: "myFont";
  color: rgb(255, 255, 255);
  padding-top: 5px;
  border-radius: 2px 0px 0px 2px;
  font-size: 32px;
}

input::placeholder {
  color: rgba(251, 251, 251, 0.494);
  font-family: "myFont";
  font-size: 26px;
}

input:focus {
  outline: none;
}

#save-initial {
  border-top: 1px dashed rgb(202, 26, 64);
  border-right: 1px dashed rgb(202, 26, 64);
  border-bottom: 1px dashed rgb(202, 26, 64);
  border-left: none;
  font-family: "myFont";
  color: purple;
  background-color: black;
  margin-top: 15px;
  padding-top: 5px;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
}

h2 {
  font-family: "myFont";
  color: rgb(208, 91, 114);
  background: linear-gradient(to bottom, rgb(255, 39, 39), purple);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#score-board {
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  border: 2px solid purple;
  margin-top: 10px;
  font-size: 32px;
}

button {
  font-size: 32px;
  text-align: center;
  line-height: 35px;
}

ol {
  display: inline-block;
  padding-left: 0;
  width: 45%;
  color: rgb(252, 6, 63);
}

ol li {
  display: flex;
  justify-content: space-between;
  counter-increment: section;
  padding-bottom: 10px;
}

ol li::before {
  content: counter(section) ".";
  text-align: right;
  margin-right: 0.5em;
}

#back-btn-container {
  text-align: center;
}

@media (max-width: 900px) {
  #quiz {
    font-size: 20px;
  }
  #score-board {
    font-size: 24px;
  }
  #view-highscores {
    font-size: 32px;
  }
  h1 {
    font-size: 72px;
  }
  button {
    font-size: 24px;
  }
}

@media (max-width: 650px) {
  #timer {
    font-size: 12px;
  }
  #view-highscores {
    font-size: 24px;
  }
}
